.header{

  padding: 20px 30px;
  border-bottom: 1px solid #CCCCCC;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: darken(#FDFDFD, 3);

  h3{
    margin: 0px;
    font-size: 1.3em;
    color: @theme-color;
    font-weight: bold;
  }
}