.bubble{

  padding: 0px;
  width: 100%;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  background: #FFDFD;

  @import "bubbles/header";

  @import "bubbles/body";

  @import "bubbles/footer";

}
