.bubble{

  padding: 0px;
  width: 100%;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  background: #FDFDFD;

  @import "bubbles/header";

  @import "bubbles/body";

  @import "bubbles/footer";

  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 7px 10px 0;
    border-color: transparent #FDFDFD;
    display: block;
    z-index: 1;
    left: 109px;
    top: 20px;
  }

  &:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 7px 10px 0;
    border-color: transparent #CCCCCC;
    display: block;
    z-index: 0;
    left: 108px;
    top: 20px;
  }


  .best-answer{
    margin-top: -20px;
    margin-right: -20px;
    float: right;
    padding: 5px 5px;
    border: 1px solid #CCC;
    border-radius: 50%;
    background: #FFF;

    i{
      margin-top: -2px;
      background: seagreen;
      padding: 8px;
      border-radius: 50%;
      color: #fff;
      font-size: 1.5em;
    }
  }

}

.question{
  &:after {
    border-color: transparent darken(#FDFDFD, 3) !important;
  }

  &:before {
    border-color: transparent #CCCCCC;
  }
}